# Logs
*.log

# Dependency directories
node_modules/

# Files for enabling HTTPS in development
server.cert
server.key

# SvelteKit output (https://kit.svelte.dev/)
.svelte-kit/

# Build output
build/

# Ignore (and don't ignore) for dotenv.
.env
.env.me
!.env.project

# Ignore Vercel directory
.vercel
