@charset "UTF-8";

@import "$styles/library/custom-media.css";
@import "$styles/library/custom-selectors.css";
@import "$styles/library/typography.css";
@import "$styles/library/colors.css";
@import "$styles/library/miscelaneous.css";

@import "normalize.css";

:root {
	--golden-ratio: 1.618;
}

* {
	box-sizing: border-box;
}

html {
	overflow: hidden;
	scroll-behavior: smooth;
}

html,
body {
	width: 100vw;
	height: 100%;
}

body {
	overflow-x: hidden;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		width: 0px;

		background-color: transparent;
	}
}
