@charset "UTF-8";

@import "normalize.css";

@import "$library/colors.css";
@import "$library/typography.css";
@import "$library/miscelaneous.css";

html {
	width: 100%;
	height: 100%;

	color: var(--color-primary);
	font-family: var(--font_serif);

	background-color: var(--color-clairvoyant);
}

main {
	padding: 1em;
}
