:root {
	--golden-ratio: 1.618;

	--transition-duration: 0.25s;
	--transition-function: ease-in-out;
	--transition: var(--transition-duration) var(--transition-function);
}

.flexible-list {
	@mixin flex column;

	margin: 0;
	padding: 0;

	& > li {
		@mixin flex row;

		list-style: none;
	}
}

form {
	&:valid {
		& input[type="submit"] {
			cursor: pointer;
		}
	}
	&:invalid {
		& input[type="submit"] {
			cursor: not-allowed;

			&:focus,
			&:hover {
				font-weight: var(--sans-serif_bolder);
			}
		}
	}
}

button,
.button {
	--button-margin: 1ch;
	--button-padding: 0.25em;

	margin: var(--button-margin);
	padding: var(--button-padding) calc(var(--button-padding) * 2);

	white-space: nowrap;
	text-decoration: none;

	border-radius: 1em;

	@media (--motion) {
		transition: all var(--transition);
	}

	& > .label {
		font-weight: var(--sans-serif_normal);

		@media (--motion) {
			transition: all var(--transition);
		}
	}
	&:focus,
	&:hover {
		& > .label {
			font-weight: var(--sans-serif_bolder);
		}
	}

	&[disabled] {
		cursor: not-allowed;
	}
}
