:root {
	--transition-duration: 0.25s;
	--transition-function: ease-in-out;
	--transition: var(--transition-duration) var(--transition-function);

	--shadow-position: 0 0 8px 4px;
	--shadow-color: hsla(var(--kilamanjaro_HSL), 0.5);
	--box-shadow: var(--shadow-position) var(--shadow-color);
}

.flexible-list {
	display: flex;

	margin: 0;
	padding: 0;

	& > li {
		display: inherit;
		place-content: center;
		place-items: center;

		list-style: none;
	}
}

:focus {
	--outline-color: var(--color-koamaru);
	--outline-offset-min: 0.25em;
	--outline-offset-max: 0.5em;

	outline-width: 2px;
	outline-style: solid;
	outline-color: var(--outline-color);
	outline-offset: var(--outline-offset-min);

	@media (--motion) {
		animation-name: pulse;
		animation-duration: 1.5s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
	}
}

@keyframes pulse {
	0%, 100% { outline-offset: var(--outline-offset-max); }
	50% { outline-offset: var(--outline-offset-min); }
}
