:root {
	--font-weight_lighter: 300;
	--font-weight_normal: 400;
	--font-weight_bolder: 700;
	--font-weight_italic: 350;
	--font-weight_heading: 550;

	--font_monospace: "Fira Code", monospace;
	--font_sans-serif: "Work Sans", sans-serif;
	--font_serif: Fraunces, serif;

	--font_min-size: 0.9em;
	--font_scaler: calc(1rem + 3.5vw);
	--font_incrementer: 1;
	--font_max-size: 1em;

	--font-size: clamp(
		var(--font_min-size),
		var(--font_scaler),
		var(--font_max-size)
	);
}

/* Monospace */
@font-face {
	font-weight: var(--font-weight_lighter) var(--font-weight_bolder);
	font-family: "Fira Code";
	font-style: normal;
	src: url("/fonts/monospace/FiraCode.woff2") format("woff2");
	font-display: swap;
}

/* Sans-serif */
@font-face {
	font-weight: var(--font-weight_lighter) var(--font-weight_bolder);
	font-family: "Work Sans";
	font-style: normal;
	src: url("/fonts/sans-serif/WorkSans.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-weight: var(--font-weight_lighter) var(--font-weight_bolder);
	font-family: "Work Sans";
	font-style: italic;
	src: url("/fonts/sans-serif/WorkSans.italic.woff2") format("woff2");
	font-display: swap;
}

/* Serif */
@font-face {
	font-weight: var(--font-weight_heading);
	font-family: "Fraunces";
	font-style: normal;
	src: url("/fonts/serif/Fraunces.woff2") format("woff2");
	font-display: swap;
}

html {
	font-size: 100%;
}

body {
	font-weight: var(--font-weight_lighter);
	font-size: var(--font-size);
	font-family: var(--font_sans-serif);
	font-synthesis: none;
}

@custom-selector :--headings h1, h2, h3, h4, h5, h6;

:--headings {
	font-weight: var(--font-weight_heading);
	font-family: var(--font_serif);
	text-shadow: var(--text-shadow);
}

h1 {
	margin: 0.67em 0 0.33em;

	text-align: center;
}

p, li {
	font-weight: var(--font-weight_normal);

	line-height: 1.5em;
}

em {
	font-weight: var(--font-weight_italic);
	font-style: italic;
}

pre {
	font-family: var(--font_monospace);
}

label {
	font-family: var(--font_serif);
}

blockquote {
	position: relative;

	width: fit-content;
	padding: 0.1em 1em;

	font-style: italic;

	border-radius: 1em;

	&::before,
	&::after {
		position: absolute;
		top: calc(50% + 0.25em);

		font-size: 3em;

		transform: translateY(-50%);
	}
	&::before {
		left: -0.5ch;

		content: "“";
	}
	&::after {
		right: -0.25ch;

		content: "”";
	}
}

strong,
b {
	font-weight: var(--font-weight_bolder);
}

/* NOTE: It cannot be nested */
@property --offset {
	syntax: "<length>";
	inherits: false;
	initial-value: 0;
}

a:not(.button) {
	--offset-value: 0.05em;

	@supports not (background:paint(something)) {
		text-underline-offset: var(--offset-value);
	}
	@supports (background:paint(something)) {
		text-underline-offset: var(--offset, var(--offset-value));
	}

	@media (--motion) {
		transition: --offset var(--transition), all var(--transition);
	}

	&:hover,
	&:focus {
		--offset: 0.3em;
		--offset-value: var(--offset);
	}
}

abbr {
	text-underline-offset: 0.1em;
}

